.tabs{
    width: 600px;
    margin: auto;
}
.tab-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 60px;
}
.tab-menu-button{
    padding: 12px 32px;
    background-color: whitesmoke;
    text-align: center;
    border-bottom:  3px solid transparent;
}
.tab-menu-active{
    border-bottom: 3px solid orange;
    transition: all ease-in-out 0.3s;
}
.tab-body{
    padding: 50px;
    border: 1px solid #141414;
    border-radius: 12px;
    height: 400px;
    display: none;
    transform: translateY(40px);
    -webkit-transition: all .4s ease;

}
.tab-active{
    transform: translateY(0px);
    display: block;
    -webkit-transition: all .4s ease;
}